{% extends "static/admin-help/base.html" %}

{% load url from future %}
{% load staticfiles %}

{% block title %}Timetable - Cancelling events{% endblock title %}

{% block menu %}
<li>&nbsp;&nbsp;<a href="{% url "admin_help_getting_started" %}">get started</a></li>
<li>&nbsp;&nbsp;<a href="{% url "admin_help_making_changes" %}">make changes</a></li>
<li class="active">&nbsp;&nbsp;<strong>cancel events</strong></li>
{% endblock menu %}

{% block content %}
<article>
  <header>
    <h3>Cancelling one or multiple events</h3>
  </header>

  <h4>Why would you want to cancel events?</h4>

  <p>If a specific lecture or talk has been entered twice by accident, or a lecturer is sick, an upcoming lecture has to be cancelled. You may even have to cancel more than one event, or a whole lecture series or module. This guide will give you an overview on how to do this.<br></p>

  <h4>Cancelling events - a run through</h4>

  <p>The most straightforward way to cancel events is by looking at the list view. In the future it should be easier to make these changes in the week view as well. </p>

  <h5>Cancelling one event</h5>

  <p>You can get an overview of all the single events within a lecture series by clicking on the expanding arrow next to the lecture series title.<br>On the right side of each event, you will see two icons; the bin icon (i.e. remove or cancel) is one of those.<br>Don't be afraid to click the bin icon, as it won't delete the event straight away. Instead, clicking the bin icon will cross out the event, and a save button will appear.<br>If you decide you actually don't want to delete this one, click the bin icon again to undo.<br></p>
  <p>
    <img src="{% static "img/admin-help/c1.png" %}">
  </p>
      
  <p>When clicking the save button, your changes will be saved, the event you cancelled will be removed from students' calendars.<br>You will see a confirmation that your changes have been saved. Clicking the okay button will take you back to the timetable list view.</p>
  
  <p>
    <img src="{% static "img/admin-help/c3.png" %}" alt="screenshot" width="676" height="325">
  </p>

  <h5>Cancelling multiple events</h5>
  <p>If you have to cancel two lectures within one lecture series, you don't have to do this for every lecture separately. Instead, you can click the bin icon next to every event you want to cancel at once, and click the save button then.</p>

  <p>
    <img src="{% static "img/admin-help/c2.png" %}" alt="screenshot" width="703" height="382">
  </p>

  <p>At the moment, you can also cancel multiple events across various series or modules. This means you have to click multiple save buttons though to save it for these different groups.</p>

  <p>
    <img src="{% static "img/admin-help/c4.png" %}" alt="screenshot">
  </p>

  <p>&nbsp;</p>

  <h5>Cancelling a lecture series or module</h5>

  <p>Perhaps at the beginning of a new academic year, a particular module or lecture series isn't being taught anymore and therefore these have to be cancelled and removed from the list.<br>Future versions of  Timetable will allow you to do that, but the current version doesn't have this enabled yet.<br></p>

  <p><strong>You can cancel and edit simultaneously </strong></p>

  <p>You don't necessarily have to treat cancelling and editing as two separate tasks. For example, if you want to change the location of a seminar, but at the same time you also want to cancel another event, you can do this all at once before hitting the save button. </p>

  <p>
    <img src="{% static "img/admin-help/c6.png" %}">
  </p>
      
  <p>&nbsp;</p>

  <p><strong>Undo deleted events after having saved, and sending out notifications </strong></p>

  <p>In case you deleted something by accident and you already saved your changes but you now want to undo it, you will be able to do this in future versions, but this isn't possible yet.</p>
</article>
{% endblock content %}
