{% extends "static/admin-help/base.html" %}

{% load staticfiles %}
{% load url from future %}

{% block title %}Timetable - Getting started{% endblock title %}

{% block menu %}
<li class="active">&nbsp;&nbsp;<strong>get started</strong></li>
<li>&nbsp;&nbsp;<a href="{% url "admin_help_making_changes" %}">make changes</a></li>
<li>&nbsp;&nbsp;<a href="{% url "admin_help_cancelling_events" %}">cancel events</a></li>
{% endblock menu %}

{% block content %}
<article>
  <header>
    <h3>Getting started</h3>
  </header>

  <h4>What is Timetable ?</h4>
  <p>Timetable is an application which aims to bring different timetables from all triposes, departments and faculties at the University of Cambridge together into one central place.</p>

  <p> It tries to <strong>help students</strong> by letting them find events relevant to them and add them to a personalised calendar, whether those events are in their own departments or another. It hopes to give <strong>more accuracy</strong> as events can now be edited during the academic year if a lecturer, time, or location changes. Distributed paper copies didn't make this possible in the past.<br></p>

  <p>
    <img src="{% static "img/admin-help/s1.png" %}" alt="screenshot" width="210" height="192">
  </p>

  <p>&nbsp;</p>

  <h4>Who is it for ?</h4>

  <p>Timetable is to be used by administrators so new modules, papers, lecture series and various events can easily be added, changed and cancelled before and during the academic year. </p>

  <p>Entered data becomes available to students initially, but we're also aiming to make it available to lecturers and the public later on.<br></p>

  <p>
    <img src="{% static "img/admin-help/s2.png" %}" alt="screenshot" width="316" height="301">
  </p>

  <p>&nbsp;</p>

  <h4>A quick run through</h4>

  <p>As an administrator you might want to make changes to an event, for example if you have to change the location of a lecture or a class. You just want to have a look at what's going on this week.</p>

  <p>This brief run through focuses on some of the key functionalities in Timetable so you know what to expect when using it. Please refer to the more detailed guides for a more into depth explanation.<br></p>
  
  <p><strong>Logging in </strong></p>
  
  <p>Visit https://timetables-staging.caret.cam.ac.uk/administration and login with Raven. The system should know you are an administrator, and will take you straight to the timetables in your tripos or department.<br></p>

  <p><strong>Timetables overview page: selecting relevant departments and viewing editable and non-editable timetables</strong></p>

  <p>The Timetables overview page allows you to select the relevant department or tripos, as well as giving an overview of the different timetables associated with that selected department or tripos. In most cases, you'll just want to look at the department you are responsible for, but you could have a look at other departments as well if you wished to do so.<br>
  A pencil icon indicates the timetables you have edit rights to, the others are view only.<br></p>
  
  <p>
    <img src="{% static "img/admin-help/s4.png" %}" alt="screenshot" width="600" height="373">
  </p>

  <p><strong>Timetables can be viewed in two ways: list view and week (calendar) view</strong></p>

  <p>Once clicking on a specific timetable, you can see the information within those timetables in two ways: as a list view or a week (calendar) view, whether you have editing rights or not.<br>At the moment, the list view lends itself best for editing more quickly, while the week view is an easy way to see an events schedule.</p>

  <p>The <strong>list view </strong>shows a whole list of modules (or papers) and any lecture series and events (such as lectures, classes, talks, seminars, and so on) associated with it. Changes can be made by clicking the pencil icons and typing in the selected fields. Events can also be cancelled here if, for example, a lecturer is off sick. After making the changes, click the 'Save' button to make the changes visible to students and other administrators.</p>

  <p>
    <img src="{% static "img/admin-help/s5.png" %}" alt="screenshot" width="768" height="374">
  </p>

  <p>The <strong>week view </strong>shows all the events you saw in the list view displayed on a calendar. You can also have a look at previous or future weeks and terms for that timetable by clicking the arrows. To see more information about a specific event, click on that event to see more details.</p>

  <p>
    <img src="{% static "img/admin-help/s6.png" %}" alt="screenshot" width="628" height="386"><br>
  </p>

  <h4>Timetable is evolving as we speak</h4>

  <p>Timetable is designed and developed by Digital Services, part of the Cambridge University Library and is a project following an agile and user-centred design approach. This means the current version of Timetable is a work in progress, and the project team is expanding on it as we speak, incorporating improvements based on user's feedback. Don't hesitate to contact us if you're happy to take part in one of our future feedback sessions too!</p>
</article>
{% endblock content %}
